*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background: #3b89da;
}
body{
    background: #e8e8e8;
}
.cartao{
    background: #ebef40;
    margin: 16px;
    padding: 16px;
}
@media (min-width: 560px){
    .cartao{
        display: inline-block;
        width: auto;
        flex-grow: 1;
        flex-basis: auto;
        box-sizing: border-box;
        text-align: left;
        
    }
    .mural{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        flex-direction: column;
    }
}
.container{
    padding: 0 10%;
}
