*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background: #3b89da;
}
body{
    background: #e8e8e8;
}
.cartao{
    background: #ebef40;
    margin: 16px;
    padding: 16px;
}
#mudaLayout{
    display: none;
}
@media (min-width: 560px){
    .cartao{
        display: inline-block;
        width: 190px;
        flex-grow: 1;
        flex-basis: 190px;
        box-sizing: border-box;
        text-align: left;
        
    }
    .mural--linhas .cartao{
        display: block;
        width: auto;
        flex-basis: auto;
    }
    .mural{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        
    }
    .mural--linhas{
        flex-direction: column;
    }
    #mudaLayout{
        display: inline-block;
    }    
}
.container{
    padding: 0 10%;
}
.cartao--some{
    opacity: 0;
    transition: 0.2s ease-in;
}
