*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background: #3b89da;
}
body{
    background: #e8e8e8;
}
.cartao{
    background: #ebef40;
    margin: 16px;
    padding: 16px;
}
@media (min-width: 850px){
    .cartao{
        display: inline-block;
        width: 490px;
    }
}
.container{
    padding: 0 10%;
}